[submodule "resources/warmenu"]
	path = resources/warmenu
	url = https://github.com/adikanchukov/warmenu
[submodule "resources/vSql"]
	path = resources/vSql
	url = https://github.com/warxander/vSql.git
